################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AStarDemo/v15
/AStarDemo/x64/Debug
/x64/Debug
/AStarDemo/Debug/AStarDemo.tlog
